.container {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: whitesmoke;
  color: black;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.nav-logo p {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 3px;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 10px;
  position: relative;
}

.nav-menu li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.nav-menu li hr {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid red;
}

.nav-login-cart {
  display: flex;
  align-items: center;
}

.nav-login-cart button {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}

.nav-login-cart button:hover {
  background-color: #777;
}

.nav-login-cart img {
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.nav-cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
  position: relative;
  top: -10px;
  right: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-logo {
    margin-bottom: 10px;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
  }

  .nav-menu li {
    margin: 10px 0;
  }

  .nav-login-cart {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-login-cart button {
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-login-cart img {
    margin-bottom: 10px;
  }

  .nav-cart-count {
    position: static;
  }
}

@media (max-width: 480px) {
  .nav-logo p {
    font-size: 20px;
  }

  .nav-menu li a {
    font-size: 16px;
  }

  .nav-login-cart button {
    font-size: 14px;
  }
}
